<?xml version="1.0" encoding="UTF-8" ?>
 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lwplvx.docman.mapper.DocumentMapper">
    <sql id="docColumns"> * </sql>


    <parameterMap id="selectByDocumentNameparameterMap" type="java.util.HashMap">
        <parameter property="documentName"></parameter>
        <parameter property="appId"></parameter>

    </parameterMap>

    <select id="selectByDocumentName" parameterType="String" resultType="lwplvx.docman.model.Document">
        select <include refid="docColumns"/>
        from document
        where documentName= #{documentName}
    </select>

    <select id="selectByAppId" parameterType="Integer" resultType="lwplvx.docman.model.Document">
        select <include refid="docColumns"/>
        from document
        where appid = #{appid}
    </select>
</mapper>