<?xml version="1.0" encoding="UTF-8" ?>
 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lwplvx.docman.mapper.ProjectMapper">
    <sql id="projectColumns"> * </sql>

    <select id="getByProjectName" parameterType="String" resultType="lwplvx.docman.model.Project">
        select <include refid="projectColumns"/>
        from project
        where projectName = #{projectName}
    </select>

    <select id="selectByUserID" parameterType="Integer" resultType="lwplvx.docman.model.Project">
        select <include refid="projectColumns"/>
        from project
        where UserId = #{userId}
    </select>

    <select id="selectByProjectName" parameterType="String" resultType="lwplvx.docman.model.Project">
        select <include refid="projectColumns"/>
        from project
        where projectName = #{projectName}
    </select>

</mapper>